
.ant-modal-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.ant-modal-content {
    /*text-align: center;*/
}

.ant-descriptions-item > span {
    display: flex;
    justify-content: space-between;
}

.ant-card-body {
    padding: 0;
}

.ant-descriptions-item-colon::after {
    content: '';
}

.ant-descriptions-middle .ant-descriptions-row > td {
    padding: 0 auto;
}

.ant-card-cover img {
    max-width: 250px;
}

.ant-modal-footer {
    display: flex;
    justify-content: space-between;
}